.page.theme_dark {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --sub-text-color: #000028;
  --accent: #ff0070;
  --btn-color:#ff0070;
  --backgroung: url(../images/cover-image-dark.png);
}

.theme_dark .rec {
  display: flex;
}

.theme_dark .header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
}