html.theme_light,
.page.theme_light {
  --title-color: #FFC2E6;
  --text-color: #353430;
  --sub-text-color: #353430;
  --accent-color: #ff8dcb;
  --btn-color:#353430;
  --backgroung-image: url(../images/cover-image-light.png);
}

html.theme_light .decorative__element,
.theme_light .decorative__element {
  display: none;
}

html.theme_light .header__theme-menu-button:hover,
.theme_light .header__theme-menu-button:hover {
  border: 1px solid rgba(50, 49, 45, 0.40);
}

@media (prefers-color-scheme: light) {
  :root:not(.theme_dark):not(.theme_light) {
    --title-color: #FFC2E6;
    --text-color: #353430;
    --sub-text-color: #353430;
    --accent-color: #ff8dcb;
    --btn-color:#353430;
    --backgroung-image: url(../images/cover-image-light.png);
  }
  :root:not(.theme_dark):not(.theme_light) .decorative__element {
    display: none;
  }

  :root:not(.theme_dark):not(.theme_light) .header__theme-menu-button:hover {
    border: 1px solid rgba(50, 49, 45, 0.40);
  }
}


@media (min-width: 1024px) {
  .header__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
  .footer__title {
    text-shadow: 4px 4px 0 var(--accent-color);
  }
}
