/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */



.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  margin: 0 auto;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  max-width: 1024px;
  background-attachment: fixed;
}

.header {
  min-block-size: 100vh;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 21.5px;
  color: #ff0070;
  text-align: center;
  border: none;
  background: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid #ff0070;
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}
/*rec*/
.decorative__element {
  position: absolute;
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ff0070;
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color:  #ff0070;
}

.header__title {
  text-shadow: 4px 4px 0 #ff0070;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: #DB00FF;
  font-weight: 700;
  line-height: 82.5%;
}

.header__text {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
  background-color: #ff0070;
  font-weight: 700;
}

.question__section-title {
  color: #ff0070;
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
}



.question__section-answer-text {
  font-size: 18px;
  color: #f1b2ce;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 #ff0070;
}

.question__section__one {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
}
.question__section__image {
  padding-block-end: 60px;
}

.question__section-title-image {
  margin: 0 20px 20px 20px;
}

.question__section__image-container {
  margin: 0 20px;
  display: grid;
  gap: 20px;
  grid-template-areas: inherit;
}

.question__section__image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.question__section__image-item:first-of-type {
  grid-column: 1 / 3;
}

.question__section__image-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.question__section__image-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.question__section__image-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.question__section__image-item:last-of-type {
  grid-column: 2 / 4;
}



