/* Основные стили проекта */
.page {
  margin: 0 auto;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  max-width: 1024px;
  background-attachment: fixed;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
}

.header {
  min-block-size: 100vh;
  margin-left: -20px;
  display: grid;
  padding: 20px;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  background-attachment: fixed;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 21.5px;
  color: var(--btn-color);
  text-align: center;
  border: none;
  background: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}

/* rec */
.decorative__element {
  position: absolute;
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.header__text {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
  background-color: var(--accent-color);
  font-weight: 700;
}

.question__section-title {
  color: var(--accent-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
  max-width: 315px;
}

.question__section-answer-text {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.link,
.question__section-answer-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.question__section__one {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
}

h3 {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--sub-text-color);
  margin-bottom: 10px;
}

h4 {
  font-weight: 400;
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--sub-text-color);
  margin-bottom: 10px;
}

.question__section-two {
  padding-block-start: 60px;
  padding-block-end: 80px;
  margin: 0 20px;
}

.question__section-answer-two-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.question__section__fhree {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 80px;
  margin: 0 20px;
}

.question__section-answer-subtitle {
  font-weight: 400;
}

.question__section-answer-fhree {
  display: grid;
}

.question__section-title {
  margin-bottom: 20px;
}

.question__section-title-image {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--sub-text-color);
  margin-bottom: 10px;
  margin: 0 20px 20px 20px;
}

.question__section__image {
  padding-block-end: 60px;
}

.question__section__image-container {
  display: grid;
  gap: 20px;
  margin: 0 20px;
}

.question__section__image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.question__section__image-item:first-of-type {
  grid-column: 1 / 3;
}

.question__section__image-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.question__section__image-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.question__section__image-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.question__section__image-item:last-of-type {
  grid-column: 2 / 4;
}

.footer {
  min-block-size: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

/* Мобильные устройства (до 767px) */
@media (width < 768px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .question__section__one {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 20px;
  }

  .question__section-title-two {
    max-inline-size: 236px;
  }

  /* Мелкие мобильные (до 559px) */
  @media (width < 560px) {
    .header {
      padding: 10px;
      margin-left: 0;
    }

    .header__title {
      margin-left: 0px;
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    .header__text {
      max-inline-size: 355px;
      max-block-size: 117px;
    }

    .question__section__one {
      margin: 0 10px;
      padding-block-start: 40px;
    }

    .question__section-two {
      margin: 0 10px;
    }

    .question__section-title-two {
      min-inline-size: 355px;
    }

    .question__section__image {
      padding: 0 0 40px 0;
    }

    .question__section-title-image {
      margin: 0 10px 10px 10px;
    }

    .footer {
      padding: 10px;
    }

    .footer__title {
      font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    }

    .decorative__element {
      margin: 10px;
    }

    .question__section-answer-two-container {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    .question__section__image-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin: 0 10px;
    }

    .question__section__image-item:first-of-type,
    .question__section__image-item:nth-of-type(2),
    .question__section__image-item:nth-of-type(3),
    .question__section__image-item:nth-of-type(4),
    .question__section__image-item:last-of-type {
      grid-column: auto;
      grid-row: auto;
    }
  }
}

/* Планшеты (768px - 1023px) */
@media (768px <= width < 1024px) {
  :root {
    --section-gap: 60px;
  }

  .main {
    margin: 60px 0;
    padding: 0 20px;
  }

  .header {
    padding: 20px 20px 0 20px;
  }

  .header__title {
    margin-left: -20px;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .section__title {
    max-inline-size: 236px;
  }

  .section:has(.gallery) {
    gap: 20px;
  }

  .section:not(:has(.gallery)) {
    padding-bottom: 80px;
  }

  .column-table {
    grid-template-columns: 1fr 2fr;
  }

  .row-table {
    grid-template-columns: 1fr;
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery__item:first-child {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-column: 3;
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(5) {
    grid-column: span 2;
  }

  .footer {
    padding: 0px 20px;
  }
}

/* Десктоп (1024px и выше) */
@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__text {
    max-inline-size: 491px;
    max-block-size: 71px;
  }

  .section__title {
    max-inline-size: 315px;
  }

  .article {
    gap: 10px;
  }

  .article-list_type_horizontal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
  }

  .row-table {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .row-table .section__title {
    grid-column: 1 / -1;
  }

  .row-table .article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1 / -1;
    gap: var(--gap);
  }

  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }
}