.page {
  margin: 0 auto;
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 23.4px;
  background-image: var(--backgroung);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.header {
  min-block-size: 100vh;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
}

.nav-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 13px;
  color: var(--btn-color);
  text-align: center;
  border: none;
  background: transparent;
}


.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--btn-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--btn-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}

.rec {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--btn-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.rec::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent);
  filter: drop-shadow(0px 0px 4px var(--accent));
}

/* углы*/

.frame::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  border-top: 1px solid var(--btn-color);
  border-right: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.frame::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--btn-color);
  border-left: 1px solid var(--btn-color);
  inline-size: 25px;
  block-size: 25px;
  margin: 20px;
}

.title-main {
  margin-left: -20px;
  text-shadow: 4px 4px 0 var(--accent);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.title-decor {
  font-weight: 700;
  background-color: var(--accent);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.subtitle {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
}

.section-title {
  color: var(--btn-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: var(--font-size);
}

.text {
  font-size: var(--font-size);
  color: var(--text-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent);
}

.link:hover {
  border-bottom: 1px solid var(--text-color);
}


.link:focus-visible {
  border: 1px solid var(--text-color);
}

.section-1 {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content p:first-of-type {
  padding-block-end: 10px;
}

.title {
  font-weight: 700;
  background-color: var(--accent);
  font-size: var(--font-size);
  line-height: 23.4px;
  color: var(--sub-text-color);
}

.section-2 {
  padding-block-start: 80px;
  padding-block-end: 80px;
  margin: 0 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding-block-start: 20px;
}

.section-title-2 {
  max-inline-size: 315px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-3 {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 80px;
  margin: 0 20px;
}

.tips {
  display: grid;
  gap: 20px;
}

.tip {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tip-title {
  font-weight: 400;
}


.section-img {
  padding-block-end: 60px;
}

.section-title-img {
  margin: 0 20px 20px 20px;
}

.gallery {
  margin: 0 20px;
  display: grid;
  gap: 20px;
  grid-template-areas: inherit;
}

.gallery-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery-item:first-of-type {
  grid-column: 1 / 3;
}

.gallery-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.gallery-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.gallery-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.gallery-item:last-of-type {
  grid-column: 2 / 4;
}


.footer {
  min-block-size: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-title {
  text-shadow: 4px 4px 0 var(--accent);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}


@media (max-width:768px) {
  .nav {
    display: flex;
    justify-content: flex-end;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .subtitle {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .title-main {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .section-1 {
    grid-template-columns: 33% 67%;
    gap: 20px;
    padding-inline-end:20px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-block-start: 20px;
  }

  .section-title-2 {
    max-inline-size: 236px;
  }
  
  .section-3 {
    display: grid;
    grid-template-columns: 35% 65%;
    padding-block-end: 80px;
  }  

  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }
}


@media (max-width:560px) {
 .header {
  padding: 10px;
}

.title-main {
  margin-left: 0px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.subtitle {
  max-inline-size: 355px;
  max-block-size: 117px;
}  

.section-1 {
  margin: 0px 10px;
  padding: 40px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-2 {
  margin: 0 10px;
  padding-block-start: 50px;
  padding-inline-end: 0 ;
  padding-block-end: 50px;
}

.section-title-2 {
  min-inline-size: 355px;
}

.cards {
  display: flex;
  flex-direction: column;
}

.section-3 {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block-end: 50px;
}

.section-img {
  padding: 0 0 40px 0;
}

.section-title-img {
  margin: 0 10px 10px 10px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
}

.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
} 

.footer-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .rec {
    margin: 10px;
  }
  
  .frame::before {
    margin: 10px;
  }
  
  .frame::after {
    block-size: 25px;
    margin: 10px;
  }
}

