/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */



.page {
  margin: 0 auto;
  font-family: var(--font);
  font-size: 18px;
  font-weight: 400;
  line-height: 23.4px;
  max-width: 1024px;
  background-attachment: fixed;
  background-image: var(--backgroung-image);
  background-position: center;
  background-size: cover;
}

.header {
  min-block-size: 100vh;
  margin-left: -20px;
  display: grid;
  padding: 20px;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  background-attachment: fixed;
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.header__theme-menu-button {
  padding: 0 21.5px;
  color: var(--btn-color);
  text-align: center;
  border: none;
  background: transparent;
  text-transform: lowercase;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid rgba(255, 0, 112, 0.40);
  cursor: pointer;
}
/*rec*/
.decorative__element {
  position: absolute;
  right: 0;
  content: "";
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--accent-color);
  text-align: center;
  padding-right: 8px;
  text-transform: uppercase;
  margin: 20px;
}

.decorative__element::after {
  display: block;
  content: "";
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;
}

.header__text {
  max-inline-size: 491px;
  max-block-size: 71px;
  justify-self: end;
  align-self: center;
  background-color: var(--accent-color);
  font-weight: 700;
}

.question__section-title {
  color: var(--accent-color);
  font-weight: 700;
  line-height: 23.4px;
  font-size: 18px;
  max-width: 315px;
}

.question__section-answer-text {
  font-size: 18px;
  color: var(--text-color);
  margin-bottom: 20px;
}

.link,
.question__section-answer-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.question__section__one {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-start: 60px;
  margin: 0 20px;
}


h3 {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--sub-text-color);
  margin-bottom: 10px;
}

h4 {
  font-weight: 400;
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--sub-text-color);
  margin-bottom: 10px;
}
.question__section-two {
    padding-block-start: 60px;
    padding-block-end: 80px;
    margin: 0 20px;
}

.question__section-answer-two-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.question__section__fhree {
  display: grid;
  grid-template-columns: 34% 66%;
  padding-block-end: 80px;
  margin: 0 20px;
}

.question__section-answer-subtitle {
  font-weight: 400;
}

.question__section-answer-fhree {
  display: grid;
}

.question__section-title-image {
  font-weight: 700;
  background-color: var(--accent-color);
  font-size: 18px;
  line-height: 23.4px;
  color: var(--sub-text-color);
  margin-bottom: 10px;
  margin: 0 20px 20px 20px;
}

.question__section__image {
  padding-block-end: 60px;
}


.question__section__image-container {
  display: grid;
  gap: 20px;
  margin: 0 20px;
}

.question__section__image-item {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.question__section__image-item:first-of-type {
  grid-column: 1 / 3;
}

.question__section__image-item:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.question__section__image-item:nth-of-type(3) {
  grid-row: 2 / 4;
}

.question__section__image-item:nth-of-type(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.question__section__image-item:last-of-type {
  grid-column: 2 / 4;
}


.footer {
  min-block-size: 100vh;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  color: var(--title-color);
  font-weight: 700;
  line-height: 82.5%;

}

@media (max-width:768px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 13px;
  }

  .header__text {
    max-inline-size: 364px;
    max-block-size: 117px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .question__section__one {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 20px;
  }


  .question__section-title-two {
    max-inline-size: 236px;
  }

  .footer {
    padding: 20px;
    display: flex;
    justify-content: center;
  }

/*Медиа запрос под 375px*/

@media (max-width:560px) {
 .header {
  padding: 10px;
  margin-left: 0;
}

.header__title {
  margin-left: 0px;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__text {
  max-inline-size: 355px;
  max-block-size: 117px;
}

.question__section__one {
  margin: 0 10px;
  padding-block-start: 40px;
}

.question__section-two {
  margin: 0 10px;
}

.question__section-title-two {
  min-inline-size: 355px;
}


.question__section__image {
  padding: 0 0 40px 0;
}

.question__section-title-image {
  margin: 0 10px 10px 10px;
}



.footer {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .decorative__element {
    margin: 10px;
  }

  .frame::before {
    margin: 10px;
  }

  .frame::after {
    block-size: 25px;
    margin: 10px;
  }
}


