:root {
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --sub-text: #000028;
  --accent: #ff0070;
  --font: 'IBM Plex mono';
  --font-size: 18px;
  --btn-color:#ff0070;
  --backgroung: url(../images/cover-image-dark.png);
}